/* isak franzon 200303040133*/

button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
}

body {
    background-color: #ffe4b5; 
    font-family: 'Arial', sans-serif;
    color: #333; 
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /*rundar hörnen på bilden*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    /*Ger en skugg effekt*/
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    border: 1px solid #8b4513;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    /*Ger en skugg effekt*/
    max-width: 900px;
    /*Gör så att texten inte stretchar för evigt*/
}

h1 {
    font-size: 48px; 
    text-align: center;
    margin-bottom: 30px; 
    color: #8b4513; 
    text-transform: uppercase; 
    font-weight: bold; /* Ökar "weight" gör texten fet-stil*/
    letter-spacing: 2px; /*lägger til mellanrum mellan karaktärer*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    /* Gör så att texten får en skugg effekt*/
}


p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #cc6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    /*Lägger till 10 över & under, 20 höger vänster*/
    background-color: #cc6600; 
    color: #fff; 
    border: none;
    /* Tar bort default border */
    border-radius: 5px;
    cursor: pointer;
    /* Ändrar muspekaren till en hand */
    transition: background-color 0.3s;
    /* ger en "smooth" övergång till mörkare färg
    då musen är på knappen */
    margin-right: 10px;
}

button:hover {
    background-color: #8b4513;
    /* mörkare färg till knappen */
}

.centering {
text-align: center;
display: flex;
justify-content: center;
/*Gör så att alla som tillhör klassen är
centrerade horisontellt*/

}

fieldset {
    border: 1px solid #8b4513; /* Saddle Brown */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff; /* White background */
	display: flex;
    /* Använder en flexbox */
	margin: 0 auto;
	width: 80%;
	
}

.image-text-container {
    display:flex;
     /* Använder en flexbox  */
    align-items: center; 
    /* centrerar saker vertikalt inom klassen*/
    margin-top: 20px; 
    
}

.image-text-container img {
    /* Justerar bilden inom klassen */
    max-width: 25%; 
    margin-right: 20px; 
    
}

.image-text-container p {
    /* Justerar bredden av texten */
    max-width: 600px;

}

ul {
    list-style-type: none;
    /* tar bort defalut utseendet av en ul med punkter */
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4ecdb; 
    border: 1px solid #d9cfa0; 
    border-radius: 5px;
    /* rundar hörn */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    /* ger en skugg effekt */
}


ul#people li {
    /* för de som tillhör en lista med id: people */
    background-color: #f7dc6f; 
    color: #333;
}

/* Style for the list items within ul#economy */
ul#economy li {
    /* för de som tillhör en lista med id: economy */
    background-color: #f4ecdb; 
    color: #333;
}

